{{ define "main" }}

<div class="bg-white">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
        <div class="lg:grid lg:grid-cols-3 lg:gap-8">
            <div>
                <h2 class="text-3xl font-extrabold text-gray-900">{{ .Page.Params.header | safeHTML }}</h2>
                <p class="mt-4 text-lg text-gray-500">{{ .Page.Params.header_subtitle | safeHTML }}</p>
            </div>
            <div class="mt-12 lg:mt-0 lg:col-span-2">
                <dl class="space-y-12">
                    <div>
                        <dt class="text-lg leading-6 font-medium text-gray-900">{{ .Page.Params.learning_success_header | safeHTML }}</dt>
                        <dd class="mt-2 text-base text-gray-500">{{ .Page.Params.learning_success_text_1 }}</dd>
                        <dd class="mt-2 text-base text-gray-500">{{ .Page.Params.learning_success_text_2 }}</dd>
                    </div>

                    <div>
                        <dt class="text-lg leading-6 font-medium text-gray-900">{{ .Page.Params.best_price_header | safeHTML }}</dt>
                        <dd class="mt-2 text-base text-gray-500">{{ .Page.Params.best_price_text_1 | safeHTML }}</dd>
                        <dd class="mt-2 text-base text-gray-500">{{ .Page.Params.best_price_text_2 }}</dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>

{{ end }}