<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

{{ $title := i18n "default_title" }}
{{ $description := i18n "default_description" }}

<link rel="canonical" href="{{ .Permalink }}">

<meta name="title" content="{{ .Title | default $title }}">
<meta name="description" content="{{ .Description | default $description }}">

<!-- Primary Meta Tags -->
<title>{{ .Title | default $title }}</title>
<meta name="title" content="{{ .Title | default $title }}">
<meta name="description" content="{{ .Description | default $description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title | default $title }}">
<meta property="og:description" content="{{ .Description | default $description }}">
<meta property="og:image" content="{{ .Page.Params.meta_img | default `/img/logo-meta.png` | absURL }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ .Title | default $title }}">
<meta property="twitter:description" content="{{ .Description | default $description }}">
<meta property="twitter:image" content="{{ .Page.Params.meta_img | default `/img/logo-meta.png` | absURL }}">

{{ $styles := resources.Get "/css/style.css" | postCSS }}
{{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
{{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
{{ end }}

{{ $js := resources.Get "js/main.js" | js.Build }}
{{ if .Site.IsServer }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
{{ else }}
    {{ $js := $js | minify | fingerprint }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
{{ end }}


{{- if .IsTranslated -}}
    {{ range .AllTranslations }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
    {{- end -}}
    {{ range first 1 .AllTranslations }}
        <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
    {{- end -}}
{{ end }}