ErrorDocument 404 /404.html

<IfModule mod_headers.c>
<FilesMatch "\.(gif|ico|jpeg|jpg|png|svg|webp|css|js|webmanifest)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
</IfModule>

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]