ErrorDocument 404 /404.html

<IfModule mod_headers.c>
<FilesMatch "\.(gif|ico|jpeg|jpg|png|svg|webp|css|js|webmanifest)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On

 # Images
  ExpiresByType image/webp "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
</IfModule>